  <%= simple_form_for(@address, :html => {:class => 'well'}) do |f| %>
    <div class="row-fluid">
      <div class="span4">
        <%= f.input :address_one, :required => true %>
        <%= f.input :address_two %>
        <%= f.input :address_three %>
        <%= f.input :appt_no %>
      </div>
      <div class="span4">
        <%= f.input :city, :required => true %>
        <%= f.input :country_id, :collection => Country.all(:order => 'name'), :required => true %>
        <%= f.input :region_id, :collection => Region.all(:order => 'name'), :required => true, :label => 'State / Province' %>
        <%= f.input :postal_zip_code, :required => true %>
      </div>
    </div>
    <%= f.button :submit, :class => 'btn btn-primary' %>
  <% end %>