  <%= simple_form_for(@address, :html => {:class => 'well'}, :validate => true) do |f| %>
  <%#= simple_form_for(@address, :html => {:class => 'well'}) do |f| %>
    <div class="row-fluid">
      <div class="span4">
        <%= f.input :address_one, :required => true %>
        <%= f.input :address_two %>
        <%= f.input :address_three %>
        <%= f.input :appt_no %>
      </div>
      <div class="span4">
        <%# debugger %>
        <%= f.input :city, :required => true, :value => request.location.city %>
        <%= f.input :country_id, :collection => Country.all(:order => 'name'), :selected => (Country.find_by_iso2(request.location.country_code) || 39), :required => true %>
        <%= f.input :region_id, :collection => Region.all(:order => 'name'), :required => true, :label => 'State / Province' %>
        <%= f.input :postal_zip_code, :required => true %>
      </div>
      <div class="span4">
        <p><strong>Note:</strong></p>
        <p>While you provide the full address, the closest intersection is automatically determined. The full address will not be displayed publicly until you share a listing.</p>
      </div>
    </div>
    <%= f.button :submit, :class => 'btn btn-primary' %>
  <% end %>